.idea
#src/main/webapp/html/data/
target
*.iml
/node_modules/*
/node_modules/
/src/main/webapp/html/RichFilemanager/node_modules/
/src/main/webapp/html/RichFilemanager/package-lock.json
/src/main/webapp/static/built/
